
.gridContainer{

    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: palegreen;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;

}

.gridItem{
    text-align: center;
    background-color: aquamarine;
    padding: 50px;
    margin-left: 20px;
    
}

img{
    max-width: 200px;
    height: auto;
    border-radius: 20px;
}

              


