
body{
    background: silver;
    margin: 0px;
    padding: 0px;
}

/* header / nav bar / for all the pages contain logo title and 5 a tags to navigate between the pages  */

#headerDiv{
    background-color: black;
    height: 100px;
    width: 100%;

                /* propertise : position: fixed : To keep the header steady */
    position: fixed;    
        top: 0;
        left: 0;
}

#headerDiv img{
    height: 100px;
    width: 100px;

                /* propertise : float : To control the display direction */
    float: left;
}

#headerDiv h1{
    color: #fff;
    font-size: 50px;
    margin-left: 100px;
    margin-top: 20px;
    /* margin-right: 100px; */
    float: left;
    /* display: inline; */
}

#headerLinks a{
    margin-right: 5%;
  /* margin-left: 600px; */
    margin-top: 40px;
    display: block;
    float: right;
  }
  
              /* propertise : hover : To change the color when you point to the button */
#headerLikes a:hover{
    background-color: #fff;
    color: #1a1a1a;
  }

#headerDiv a{
    color: #fff;
    font-size: 15px;
    /* margin-left: 40px; */
    margin-right: 40px;
    margin-top: 40px;
    float: right;

                /* propertise : text-decoration : Hide the line under the word */
    text-decoration: none;
    background-color: gray;
    padding: 5px;
    border: 1px solid #fff;

                /* propertise : border-radius : To create an arc shape in place of the corner */
    border-radius: 5px;
    display: block;
}

                /* add style for footer that conatin 1 p tag  */
#footerDiv{
    background-color: #1a1a1a;
    height: 50px;
    width: 100%;
    position: fixed;
        bottom: 0;  
        left: 0;
}

#footerDiv p{
    color: #fff;
    font-size: 15px;
    margin-left: 40px;
    margin-top: 10px;

                /* propertise : text-align: center  : To put the words in the middle of the table */
    text-align: center;
}



            /* make the nav and footer responsive for mobile , tab and pc */
            /* we can change the style depends on the user or client screen width  */

    /* mobile view  */


  @media only screen and (max-width: 1000px){

    body{
      background: gray;
    }

    #headerDiv a{
      margin-right: 25px;
    }

    #headerDiv h1{
           font-size: 36px;
           margin-left: 30px;
    }

    #headerLikes a{
          margin-top:4% ;
          /* margin-left: 40px; */
    }

    
  }

    @media only screen and (max-width: 600px){

      body{
        background: silver;
      }
  
      #headerDiv{
        /* display: block; */
        height: 80px;
      }

      #headerDiv a{
        display: block;
        margin-right: 7px;
        font-size: 7px;
        /* border-radius:0px;
        text-align: none;
        border: none; */
      }
  
      #headerDiv h1{
             font-size: 24px;
             margin-left: 0px;
      }
  
      #headerLikes a{
            display: block;
            margin-top:7% ;
            /* margin-left: 40px; */
      }
  
      #headerDiv img{
        height: 75px;
        width: 75px;
      }


    }

   